@import '../../styles/index';

.container{
    background-color: $primary-color;
    height: calc(100vh - 100px);
    padding: 10px;
    display: flex;
    justify-content: space-evenly
}

.box{
    height: 50%;
    width: 48%;
}

form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-around;
}

ul{
    list-style: none;
}

.tarefa{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $line;
}

.tarefa:hover{
    box-shadow: $shadow;
    border-bottom: none;
}

.lixeira{
    cursor: pointer;
}
